.App {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.game {
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #34ccc5;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}